{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="d-flex-sp">
            <h1>Productos en {{ deposito.nombre }}</h1>
            
            <a href="{% url 'movimientos_list' deposito_id=deposito.pk %}" class="btn btn-outline-primary">Historial de movimientos</a>
            <a href="{% url 'registrar_movimiento' deposito_id=deposito.pk %}" class="btn btn-outline-primary">Registrar Movimiento</a>
        </div>
        <div class="">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Proveedor</th>
                        <th>Descripción</th>
                        <th>Categoría</th>
                        <th>Stock Actual</th>
                        <th>Fecha de Ingreso</th>
                        <th>Estado en Depósito</th>
                    </tr>
                </thead>
                <tbody>
                    {% for relacion in productos_en_deposito %}
                        <tr>
                            <td>{{ relacion.producto.nombre }}</td>
                            <td>{{ relacion.producto.proveedor.nombre }}</td>
                            <td>{{ relacion.producto.descripcion }}</td>
                            <td>{{ relacion.producto.categoria }}</td>
                            <td>{{ relacion.cantidad }}</td>
                            <td>{{ relacion.fecha_ingreso|date:"d-m-Y" }}</td>
                            <td>{{ relacion.estado }}</td>
                        </tr>
                    {% empty %}
                        <li>No hay productos en este depósito.</li>
                    {% endfor %}
                    
                </tbody>
                <tfoot>
                    <tr>
                      <th>Producto</th>
                      <th>Proveedor</th>
                      <th>Descripción</th>
                      <th>Categoría</th>
                      <th>Stock Actual</th>
                      <th>Fecha de Ingreso</th>
                      <th>Estado en Depósito</th>

                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>
{% endblock %}