{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="d-flex-sp">
            <h1>Lista de Productos</h1>
            <a href="{% url 'producto_list_create' %}" class=" btn btn-outline-primary">Agregar Producto</a>
        </div>
        <div class="">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Categoría</th>
                        <th>Estado</th>
                        <th>Depósito</th>
                        <th>Fecha de Ingreso</th>
                        <th>Estado en Depósito</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  {% for producto_por_deposito in productos_por_deposito %}
                    <tr>
                        <td>{{ producto_por_deposito.producto.nombre }}</td>
                        <td>{{ producto_por_deposito.producto.descripcion }}</td>
                        <td>{{ producto_por_deposito.producto.precio }}</td>
                        <td>{{ producto_por_deposito.producto.categoria }}</td>
                        <td>{{ producto_por_deposito.producto.estado }}</td>
                        <td>{{ producto_por_deposito.deposito.nombre }}</td>
                        <td>{{ producto_por_deposito.fecha_ingreso }}</td>
                        <td>{{ producto_por_deposito.estado }}</td>
                        <td><a href="{% url 'producto_list_update' producto_por_deposito.pk %}"><i class="bi bi-pencil-square"></i></a>
                          <a href="{% url 'producto_list_detail' producto_por_deposito.pk %}"><i class="bi bi-eye"></i></a>
                          <a href="{% url 'producto_list_delete' producto_por_deposito.pk %}"><i class="bi bi-trash"></i></a></td>
                    </tr>
                    {% empty %}
                <p>No hay productos disponibles.</p>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                      <th>Producto</th>
                      <th>Descripción</th>
                      <th>Precio</th>
                      <th>Categoría</th>
                      <th>Estado</th>
                      <th>Depósito</th>
                      <th>Fecha de Ingreso</th>
                      <th>Estado en Depósito</th>
                      <th>Acciones</th>

                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>

{% endblock %}