{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="d-flex-sp">
            <h1>Productos en {{ sucursal.nombre }}</h1>
        </div>
        <div class="">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Categoría</th>
                        <th>Stock Actual</th>
                        <th>Fecha de Ingreso</th>
                        <th>Estado en Depósito</th>
                    </tr>
                </thead>
                <tbody>
                    {% for relacion in productos_en_sucursal %}
                        <tr>
                            <td>{{ relacion.producto.nombre }}</td>
                            <td>{{ relacion.producto.descripcion }}</td>
                            <td>{{ relacion.producto.categoria }}</td>
                            <td>{{ relacion.stock_actual }}</td>
                            <td>{{ relacion.fecha_ingreso }}</td>
                            <td>{{ relacion.estado }}</td>
                        </tr>
                    
                    {% endfor %}
                    
                </tbody>
                <tfoot>
                    <tr>
                      <th>Producto</th>
                      <th>Descripción</th>
                      <th>Categoría</th>
                      <th>Stock Actual</th>
                      <th>Fecha de Ingreso</th>
                      <th>Estado en Depósito</th>

                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>

{% endblock %}