{% extends 'base.html' %}
{% block content %}
      <div class="container">
        <div class="d-flex-sp">
            <h1>Lista de Categorias</h1>
            <a href="{% url 'categoria_create' %}" class=" btn btn-outline-primary">Agregar Categorias</a>
        </div>
        <div class="">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Iconos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td>{{categoria.id}}</td>
                        <td>{{categoria.nombre}}</td>
                        <td>{{categoria.descripcion}}</td>
                        <td><a href="{% url 'categoria_update' categoria.pk %}"><i class="bi bi-pencil-square"></i></a>
                          <a href="{% url 'categoria_delete' categoria.pk %}"><i class="bi bi-trash"></i></a></td>
                    </tr>
                    {% empty %}
                <p>No hay Categorias disponibles.</p>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    
    </div>
 {% endblock %}