{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="d-flex-sp">
        <h1>Lista de Ventas</h1>
        <button class="btn btn-primary" id="agregarCliente">
            <a href="{% url 'ventas_new' %}" style="color: white;">Registrar Venta</a>
        </button>
    </div>
    <div class="">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>N°Factura</th>
                    <th>Sucursal</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Iconos</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{venta.numeroFactura}}</td>
                    <td>{{venta.sucursal}}</td>
                    <td>{{venta.fecha|date:"d-m-Y"}}</td>
                    <td>{{venta.cliente}}</td>
                    <td class="total text-end">{{ venta.total }}</td>
                    <td>
                        <a href="{% url 'ventas_detail' venta.pk  %}" class="btn btn-primary"><i class="bi bi-eye" style="color: white;"></i> Detalle</a>
                    </td>
                </tr>
                {% empty %}
                <p>No hay Clientes disponibles.</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    // Función para formatear números con separadores
    function formatearNumero(valor) {
        const num = parseFloat(valor);
        return isNaN(num) ? '' : num.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
    }

    // Obtener solo las celdas de Total y aplicar el formato
    document.querySelectorAll('.total').forEach(td => {
        const originalValue = td.innerText;
        const formattedValue = formatearNumero(originalValue);
        td.innerText = formattedValue;
    });
</script>
{% endblock %}