{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="d-flex-sp">
        <h1>Lista de Ventas</h1>
        <button class="btn btn-primary" id="agregarCliente">
            <a href="{% url 'ventas_new' %}" style="color: white;">Registrar Venta</a>
        </button>
    </div>
    <div class="">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>CUIT</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Iconos</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.cuit}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>
                        <a ></a></i></a>
                        <a ><i class="bi bi-eye"></i></a>
                        <a href=""><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% empty %}
                <p>No hay Clientes disponibles.</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}