<div class="slidebar">
  <div class="name_pagina">
    <span>BlueDragon</span>
  </div>
  <nav class="barra-navegacion">
    <div class="navbar">
      <form class="form-serch" role="search">
        <input class="form-control me-2 searchinput" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'sucursal_list' %}">Sucursales</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'depositos_list' %}">Depositos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'categoria_list' %}">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'producto_list' %}">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'productos_list' %}">Productos/Depositos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'proveedor_list' %}">Proveedores</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Compras
          </a>
          <ul class="dropdown-menu"> 
            <li><a class="dropdown-item" href="{% url 'orden_list' %}">Ordenes de Compra</a></li>
            <li><a class="dropdown-item" href="{% url 'facturas_list' %}">Registrar Factura</a></li>
            <li><a class="dropdown-item" href="{% url 'pagos_list' %}">Orden de Pago</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'clientes_list' %}">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ventas_list' %}">Ventas</a>
        </li>
      </ul>
    </div> 
  </nav>
</div>

