{% extends 'base.html' %}
{% block extra_head %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .modal-dialog {
            max-width: 800px;
        }
        .form-row {
            display: flex;
            flex-wrap: wrap;
        }
        .form-row .form-group {
            flex: 1;
            margin-right: 10px;
        }
        .form-row .form-group:last-child {
            margin-right: 0;
        }
        .form-group {
            margin-bottom: 1rem;
        }
        #total-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #tablaDetalles {
            margin-top: 20px;
        }
        .footer-buttons{
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Registrar Movimiento de Stock en {{deposito.nombre}}</h1>
        <h5>Numero de Deposito: <span id="referenceDeposito">{{deposito.id}}</span></h5>
        

        <form method="POST" id="csrfForm" action="{% url 'registrar_factura' %}">
            {% csrf_token %}
        </form>
        <!-- Selección de Orden de Compra, Proveedor, N°Factura -->
        <div class="form-row mb-3">
            <div class="form-group">
                <label for="deposito_name" class="form-label">Deposito: </label>
                <input id="deposito_name" value="{{deposito.nombre}}" class="form-control" readonly required>
                    <!-- Opciones de Orden de Compra serán cargadas desde Django -->
            </div>
            <div class="form-group">
                <label for="numero_movimiento" class="form-label">N° Movimiento: </label>
                <input id="numero_movimiento" value="0000000{{ nro_mov }}" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="fecha_emision" class="form-label">Fecha</label>
                <input id="fecha_emision" class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label for="estado" class="form-label">Estado</label>
                <select id="estado" class="form-select">
                    <option>Seleccione un Estado</option>
                    <option>Resuelto</option>
                    <option>Pendiente</option>
                    <option>Despachado</option>
                </select>
            </div>
        </div>
        <!-- Fecha, Descuento, Impuestos, Estado -->
        <div class="form-row mb-3">
            
            <div class="form-group">
                <label for="tipo_movimiento" class="form-label">Tipo de Movimiento: </label>
                {{form.tipo_movimiento}}
            </div>
            <div class="form-group">
                <label id="motivo" for="motivo" class="form-label">Motivo de Movimiento: </label>
                {{form.motivo}}
            </div>
        </div>
        
        <!-- Tabla de Productos -->
        <h4 class="mt-4">Lista de Productos</h4>        
        <button type="button" class="btn btn-secondary mt-3" data-bs-toggle="modal" data-bs-target="#agregarProductosModal">Agregar Producto</button>
        <table id="tablaDetalles" class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Acciones</th> 
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>            
            </tbody>
        </table>
        <div class="footer-buttons">
            <button class="btn btn-success" id="confirmarMovimiento">Registrar Movimiento</button>
            <a href="{% url 'productos_por_deposito' deposito.pk  %}" class="btn btn-danger btn-sm ">Cancelar</a>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="agregarProductosModal" tabindex="-1" aria-labelledby="agregarProductosModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarProductosModalLabel">Agregar Productos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formAgregarProductos">
                            <div class="mb-3">
                                <label for="producto" class="form-label">Producto</label>
                                <select id="producto" class="form-select">
                                   <!-- Opciones llenadas con JavaScript -->
                                    <option selected value="">Elegir producto...</option>
                                    {% for producto in productos %}
                                        <option value="{{producto.id}}">{{producto.producto.nombre}}</option>
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="cantidad" class="form-label">Cantidad</label>
                                <input type="number" id="cantidad" class="form-control">
                            </div>
                            <button type="button" id="agregarProductoBtn" class="btn btn-primary">Agregar a la tabla</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
    $(document).ready(function() {
        const referenceDeposito = $('#deposito_name')
        const nroMovimiento = $('#numero_movimiento');
        const productoSelect = $('#producto');
        const cantidadInput = $('#cantidad');
        const tipo_movimiento = $('#id_tipo_movimiento');
        const motivo = $('#id_motivo');
        let movimientoData = []; // Variable para almacenar los datos de las órdenes

    $('#producto, #cantidad').on('input', function() {
        const cantidad = parseFloat(cantidadInput.val()) || 0;
    });

    $('#agregarProductoBtn').on('click', function() {
        const productoId = productoSelect.val();
        const productoNombre = productoSelect.find('option:selected').text();
        const cantidad = cantidadInput.val();

        if (productoId && cantidad) {
            const row = `<tr>
                <td>${productoNombre}</td>
                <td>${cantidad}</td>
                <td><button class="btn btn-danger btn-sm eliminarProductoBtn">Eliminar</button></td>
            </tr>`;
            $('#tablaDetalles tbody').append(row);
            $('#agregarProductosModal').modal('hide');
            cantidadInput.val('');
            $('.modal-backdrop').remove();
        } else {
            alert('Por favor complete todos los campos.');
        }
    });

    $('#tablaDetalles').on('click', '.eliminarProductoBtn', function() {
            const row = $(this).closest('tr');
            const index = row.index();
            productosAgregados.splice(index, 1);
            row.remove();

            // Ocultar la tabla si no quedan productos
            if (productosAgregados.length === 0) {
                detalleOrden.hide();
            }
        });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    $('#confirmarMovimiento').click(function(event) {
        const productosAgregados = [];
        $('#tablaDetalles tbody tr').each(function() {
            const productoNombre = $(this).find('td').eq(0).text();
            const cantidad = $(this).find('td').eq(1).text();

            productosAgregados.push({
                productoNombre: productoNombre,
                cantidad: cantidad
            });
        });
        console.log(productosAgregados)
        const Movimiento = {
            'referenceDeposito': referenceDeposito.val(),
            'nroMovimiento': nroMovimiento.val(),
            'fecha_emision': $('#fecha_emision').val(),
            'estado': $('#estado').val(),
            'tipo_movimiento': tipo_movimiento.val(),
            'motivo': motivo.val(),
            'productos': productosAgregados

        };
        
        $.ajax({
            type: "POST",
            url: "{% url 'registrar_mov' %}",
            data: JSON.stringify(Movimiento),
            contentType: "application/json",
            headers: {
                "X-CSRFToken": csrftoken // Enviar el token CSRF en los headers
            },
            success: function(response) {
                alert('Movimiento registrado exitosamente');
                // Opcional: Limpiar los campos y tabla después de éxito
                $('#tablaDetalles tbody').empty();
                
            },
            error: function(xhr, status, error) {
                try {
                    const response = JSON.parse(xhr.responseText);
                    alert('Error: ' + response.message || 'Error al registrar la factura');
                } catch (e) {
                    alert('Error desconocido');
                }
            }
        });

        });
    });
    </script>


{% endblock %}