{% extends 'base.html' %}
{% block extra_head %}

<style>
      .d-flex-sp{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="d-flex-sp">
            <h1>Lista de Facturas</h1>
            <a href="{% url 'factura_new' %}" class=" btn btn-outline-primary">Registrar Factura</a>
        </div>
        <div class="">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Tipo</th>
                        <th>Fecha Emision</th>
                        <th>Estado</th>
                        <th>Proveedor</th>
                        <th>Total</th>
                        <th>Orden de Compra</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  {% for factura in facturas %}
                    <tr>
                        <td>{{ factura.numero_factura }}</td>
                        <td>{{ factura.tipo_factura }}</td>
                        <td>{{ factura.fecha_emision }}</td>
                        <td>{{ factura.estado }}</td>
                        <td>{{ factura.proveedor }}</td>
                        <td>{{ factura.total }}</td>
                        <td>{{ factura.reference_order }}</td>
                        <td><a href=""><i class="bi bi-pencil-square"></i></a>
                          <a href=""><i class="bi bi-eye"></i></a>
                          <a href=""><i class="bi bi-trash"></i></a></td>
                    </tr>
                    
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Nro</th>
                        <th>Tipo</th>
                        <th>Fecha Emision</th>
                        <th>Estado</th>
                        <th>Proveedor</th>
                        <th>Total</th>
                        <th>Orden de Compra</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>

{% endblock %}
{% block script %}


    <script>
        new DataTable('#example');

        function cargarDatosOrden(id) {
            $.ajax({
                url: "{% url 'get_orden' %}",
                data: {
                    'orden_id': id
                },
                success: function(data) {
                    console.log(data)
                }
            });
        }

    </script>

{% endblock %}
