{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="d-flex-sp">
        <h1>Lista de Ordenes de Compra</h1>
        <a href="{% url 'orden_compra' %}" class=" btn btn-outline-primary">Crear Orden de Compra</a>
    </div>
    <div class="">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>N°Orden</th>
                    <th>Fecha Creación</th>
                    <th>Fecha Entrega</th>
                    <th>Estado</th>
                    <th>Lugar de Entrega</th>
                    <th>Iconos</th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                <tr>
                    <td>00{{orden.nordenCompra}}</td>
                    <td>{{orden.fecha|date:"d-m-Y"}}</td>
                    <td>{{orden.fechaentrega|date:"d-m-Y"}}</td>
                    <td>{{orden.estado}}</td>
                    <td>{{orden.lugarentrega}}</td>
                    <td>
                        <a href="{% url 'orden_detail' orden.id  %}" class="btn btn-primary"><i class="bi bi-eye" style="color:white"></i> Detalle</a>
                      </td>
                </tr>
                {% empty %}
            <p>No hay Ordenes disponibles.</p>
            {% endfor %}
            </tbody>
            
        </table>
    </div>
    
</div>
{% endblock %}