{% extends 'base.html' %}
{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>  
    <title>Orden de Compra</title>
    <style>
        .container{
            width: 60%;
        }
        .d-flex-sp{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
        /* Ocultar la tabla de productos al inicio */
        #DetalleOrden{
            display: none;
            
        }
        .form-row {
            display: flex;
            flex-wrap: wrap;
        }
        .form-row .form-group {
            flex: 1;
            margin-right: 10px;
        }
        .form-row .form-group:last-child {
            margin-right: 0;
        }
        .form-group {
            margin-bottom: 1rem;
        }
        .form-group-fecha{
            margin-right: 10px;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <form id="csrfForm">
            {% csrf_token %}
        </form>
        <h2>Orden de Compra</h2>
        <div class="form-row mb-3">
            <div class="form-group">
                <label for="id_proveedor" class="form-label">Proveedor</label>
                <select id="id_proveedor" class="form-select" required>
                    <!-- Opciones de Orden de Compra serán cargadas desde Django -->
                </select>
            </div>
            <div class="form-group">
                <label for="nordenCompra" class="form-label">N°Orden Compra</label>
                <input type="number" class="form-control" id="nordenCompra">
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="form-group-fecha">
                <label for="fecha" class="form-label">Fecha de la Orden</label>
                <input type="date" class="form-control" id="fecha" required>
            </div>
            <div class="form-group-fecha">
                <label for="fechaentrega" class="form-label">Fecha de Entrega</label>
                <input type="date" class="form-control" id="fechaentrega">
            </div>
            <div class="form-group">
                <label for="lugarentrega" class="form-label">Lugar de Entrega</label>
                <select id="lugarentrega" class="form-select">
                    <!-- Opciones de depósitos serán cargadas desde Django -->
                </select>
            </div>
        </div>
        <!-- Condiciones -->
        <div class="mb-3">
            <label for="condiciones" class="form-label">Condiciones</label>
            <textarea id="condiciones" class="form-control" rows="3"></textarea>
        </div>
    
        <!-- Botón para abrir el modal -->
        <button class="btn btn-primary" data-bs-toggle="modal" id="AbrirF" data-bs-target="#productoModal" disabled>Agregar Producto</button>

        <!-- Modal de Bootstrap para agregar productos -->
        <div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="productoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productoModal">Agregar Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="productoForm">
                            <div class="mb-3">
                                <label for="producto" class="form-label">Producto</label>
                                <select id="producto" class="form-select" required>
                                    <option value="">Elegir producto</option>
                                    <!-- Opciones de productos serán cargadas vía AJAX -->
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="cantidad" class="form-label">Cantidad</label>
                                <input type="number" class="form-control" id="cantidad" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="agregarProductoBtn">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="DetalleOrden">
            <!-- Tabla para mostrar productos agregados -->
            <table class="table table-striped mt-4" id="productosTable">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="productosTableBody">
                    <!-- Los productos se agregarán aquí -->
                </tbody>
            </table>
                    <!-- Botón para enviar la orden -->
            <button class="btn btn-success" id="confirmarOrdenBtn">Confirmar Orden</button>
            <a href="{% url 'orden_list' %}" class="cancel-link">Cancelar</a>

        </div>

    </div>
{% endblock %}
{% block script %} 
    <script>
    $(document).ready(function() {
        const proveedorSelect = $('#id_proveedor');
        const lugarentregaSelect = $('#lugarentrega');
        const agregarProductoBtn = $('#AbrirF');
        const detalleOrden = $('#DetalleOrden');
        let productosAgregados = [];

        // Función para cargar proveedores
        function cargarProveedores() {
            $.ajax({
                url: "{% url 'get_proveedores' %}",
                success: function(data) {
                    const proveedores = data.proveedores;
                    proveedorSelect.empty();
                    proveedorSelect.append(new Option('Seleccione un proveedor', ''));
                    proveedores.forEach(function(proveedor) {
                        proveedorSelect.append(new Option(proveedor.nombre, proveedor.id));
                    });
                }
            });
        }

        // Función para cargar depósitos
        function cargarDepositos() {
            $.ajax({
                url: "{% url 'get_depositos' %}",
                success: function(data) {
                    const depositos = data.depositos;
                    lugarentregaSelect.empty();
                    lugarentregaSelect.append(new Option('Seleccione un depósito', ''));
                    depositos.forEach(function(deposito) {
                        lugarentregaSelect.append(new Option(deposito.nombre, deposito.id));
                    });
                }
            });
        }

        // Cargar proveedores y depósitos al iniciar
        cargarProveedores();
        cargarDepositos();
    
        // Habilitar botón si se selecciona un proveedor
        proveedorSelect.change(function () {
            const proveedorSeleccionado = proveedorSelect.val();
            if (proveedorSeleccionado) {
                agregarProductoBtn.prop('disabled', false);
                cargarProductos(proveedorSeleccionado);
            } else {
                agregarProductoBtn.prop('disabled', true);
            }
        });
    
        // Función para cargar productos vía AJAX
        function cargarProductos(proveedorId) {
            $.ajax({
                url: "{% url 'get_productos' %}",
                data: {
                    'proveedor_id': proveedorId
                },
                success: function(data) {
                    const productos = data.productos;
                    const productoSelect = $('#producto');
                    productoSelect.empty();
                    productoSelect.append(new Option('Elegir producto', ''));
                    productos.forEach(function(producto) {
                        productoSelect.append(new Option(producto.nombre, producto.id));
                    });
                }
            });
        }

        // Agregar producto a la tabla
        $('#agregarProductoBtn').click(function() {
            const productoId = $('#producto').val();
            const productoNombre = $('#producto option:selected').text();
            const cantidad = $('#cantidad').val();
    
            if (productoId && cantidad) {
                productosAgregados.push({
                    productoId: productoId,
                    productoNombre: productoNombre,
                    cantidad: cantidad,
                });
    
                agregarProductoATabla(productoNombre, cantidad);
                $('#productoModal').modal('hide');
                $('.modal-backdrop').remove();
                // Mostrar la tabla de productos después de agregar un producto
                detalleOrden.show();
                $('#producto').val('');
                $('#producto option:selected').val('');
                $('#cantidad').val('');
            }
        });
    
        // Función para agregar productos a la tabla
        function agregarProductoATabla(productoNombre, cantidad) {
            $('#productosTableBody').append(`
                <tr>
                    <td>${productoNombre}</td>
                    <td>${cantidad}</td>
                    <td><button class="btn btn-danger btn-sm eliminarProductoBtn">Eliminar</button></td>
                </tr>
            `);
        }

        // Manejar la eliminación de productos de la tabla
        $('#productosTableBody').on('click', '.eliminarProductoBtn', function() {
            const row = $(this).closest('tr');
            const index = row.index();
            productosAgregados.splice(index, 1);
            row.remove();

            // Ocultar la tabla si no quedan productos
            if (productosAgregados.length === 0) {
                detalleOrden.hide();
            }
        });

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

$('#confirmarOrdenBtn').click(function() {
    const ordenData = {
        'nordenCompra':$('#nordenCompra').val(),
        'proveedor_id': $('#id_proveedor').val(),
        'fecha': $('#fecha').val(),
        'fechaentrega': $('#fechaentrega').val(),
        'lugarentrega': $('#lugarentrega').val(),
        'condiciones': $('#condiciones').val(),
        'productos': productosAgregados
    };

    $.ajax({
        type: "POST",
        url: "{% url 'confirmar_orden_compra' %}",
        data: JSON.stringify(ordenData),
        contentType: "application/json",
        headers: {
            "X-CSRFToken": csrftoken // Enviar el token CSRF en los headers
        },
        success: function(response) {
            alert('Orden confirmada exitosamente');
            window.location.href = "{% url 'orden_list' %}";

        },
        error: function(xhr, status, error) {
            try {
                const response = JSON.parse(xhr.responseText);
                alert('Error: ' + response.message || 'Error al confirmar la orden');
            } catch (e) {
                alert('Error desconocido');
            }
        }
    });
});
    });
    </script>
{% endblock %}