{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="d-flex-sp">
        <h1>Lista de Ordenes de Pago</h1>
        <a href="{% url 'pago_new' %}" class=" btn btn-outline-primary">Crear Orden de Pago</a>
    </div>
    <div class="">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>N°Orden</th>
                    <th>Proveedor</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Metodo de Pago</th>
                    <th>Total</th>
                    <th>Iconos</th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                <tr>
                    <td>{{orden.nordenPago}}</td>
                    <td>{{orden.proveedor}}</td>
                    <td>{{orden.fecha|date:"d-m-Y"}}</td>
                    <td>{{orden.estado}}</td>
                    <td>{{orden.metodo_pago}}</td>
                    <td class="total text-end">{{ orden.total }}</td>
                    <td>                    
                        <a href="{% url 'pago_detail' orden.pk  %}" class="btn btn-primary"><i class="bi bi-eye" style="color:white"></i> Detalle</a>
                    </td>
                </tr>
                {% empty %}
            <p>No hay Ordenes disponibles.</p>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>N°Orden</th>
                    <th>Proveedor</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Metodo de Pago</th>
                    <th>Total</th>
                </tr>
            </tfoot>
        </table>
    </div>
    
</div>
<script>
    // Función para formatear números con separadores
    function formatearNumero(valor) {
        const num = parseFloat(valor);
        return isNaN(num) ? '' : num.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
    }

    // Obtener solo las celdas de Total y aplicar el formato
    document.querySelectorAll('.total').forEach(td => {
        const originalValue = td.innerText;
        const formattedValue = formatearNumero(originalValue);
        td.innerText = formattedValue;
    });
</script>
{% endblock %}