<!-- facturas/detalle_factura.html -->
{% extends 'base.html' %}
{% block extra_head %}

<style>
        
        .factura-detalle {
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 5px;
            max-width: 900px;
            margin: auto;
        }
        .factura-detalle h2 {
            text-align: center;
        }
        .factura-detalle .campo {
            margin-bottom: 10px;
        }
        .factura-detalle .campo strong {
            display: inline-block;
            width: 100%;
        }
        .flex{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }
        #tablaDetalles {
            margin-top: 20px;
        }
        .totales{
            margin-top: 200px;
            margin-left: 550px;
        }
    </style>

{% endblock %}

{% block content %}
<a href="{% url 'facturas_list' %}">Volver</a>
<div class="factura-detalle">
    <h2>Factura: {{ factura.tipo_factura }}</h2> 
    <h2>N°:{{ factura.numero_factura }}</h2>
    <div class="flex">
        <div class="campo"><strong>Orden de Compra: {{ factura.reference_orden.nordenCompra }}</strong> </div>
        <div class="campo"><strong>Tipo de Factura: {{ factura.tipo_factura }}</strong> </div>
        <div class="campo"><strong>Fecha de Emisión: {{ factura.fecha_emision|date:"Y-m-d H:i" }}</strong> </div>
    </div>
    <div class="flex">
        <div class="campo"><strong>Proveedor: {{ factura.proveedor.nombre }}</strong> </div>
        <div class="campo"><strong>Cuit: {{ factura.proveedor.cuit }}</strong> </div>
        <div class="campo"><strong>categoria: {{ factura.proveedor.categoria }}</strong> </div>
    </div>
    <div class="flex">
        <div class="campo"><strong>Domicilio: {{ factura.proveedor.domicilio }}</strong> </div>
        <div class="campo"><strong>Telefono: {{ factura.proveedor.telefono }}</strong> </div>
        <div class="campo"><strong>Correo: {{ factura.proveedor.correo }}</strong> </div>
    </div>
    
    <div class="flex">
        <div class="campo"><strong>Método de Pago: {{ factura.metodo_pago }}</strong> </div>
        <div class="campo"><strong>Estado: {{ factura.estado }}</strong> </div>
    </div>
    <div class="flex">
        <div class="campo"><strong>Detalles: {{ factura.detalles|default:"Sin detalles" }}</strong> </div>
        <div class="campo"><strong>Vendedor: {{ factura.vendedor.get_full_name|default:"No asignado" }}</strong> </div>
        <div class="campo"><strong>Notas: {{ factura.notas|default:"Sin notas adicionales" }}</strong> </div>
    </div>
    <table id="tablaDetalles" class="table">
        <thead>
            <tr>
                <th>Cod Detalle</th>
                <th>Producto</th>
                <th>Cantidad</th> 
                <th>Precio Unitario</th> 
                <th>Subtotal</th> 

            </tr>
        </thead>
        <tbody>
            <tr>
                {% for detalle in detalles %}
                
                <tr>
                    <td>000{{detalle.id}}</td>
                    <td>{{detalle.producto.nombre}}</td>
                    <td>{{detalle.cantidad}}</td>
                    <td>{{detalle.preciounitario}}</td>
                    <td>{{detalle.subtotal}}</td>
                </tr>
                {% endfor %}
            </tr>            
        </tbody>
    </table>
    <div class="totales">
        <div class="campo"><strong>Descuento: ${{ factura.descuento|default:"0.00" }}</strong> </div>
        <div class="campo"><strong>Impuestos: ${{ factura.impuestos }}</strong> </div>
        <div class="campo"><strong>Total: ${{ factura.total }}</strong> </div>
    </div>

</div>

{% endblock %}