{% extends 'base.html' %}
{% block extra_head %}

    <style>
        .form-wrapper {
            background: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;
        }
        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
            font-size: 2em;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .form-group {
            display: flex;
            flex-direction: column;
        }
        .form-group label {
            margin-bottom: 5px;
            color: #333;
            font-weight: bold;
        }
        .form-group input, .form-group select, .form-group textarea {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 1em;
        }
        button {
            background-color: #c90a99;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 10px;
        }
        button:hover {
            background-color: #7d0de6f8;
        }
        .cancel-link {
            display: block;
            text-align: center;
            margin-top: 15px;
            font-size: 1em;
            color: #2196F3;
            text-decoration: none;
            transition: color 0.3s ease;
        }
        .cancel-link:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
        <div class="form-wrapper">
            <h1>{% if proveedores %}Editar{% else %}Crear{% endif %} Proveedor</h1>
            <form method="post">
                {% csrf_token %}
                <div class="flex">

                    <div class="form-group">
                        <label for="id_nombre">Nombre</label>
                        {{ form.nombre }}
                    </div>
                    <div class="form-group">
                        <label for="id_cuit">Cuit</label>
                        {{form.cuit }} 
                
                    </div>
                    <div class="form-group">
                        <label for="id_domicilio">Domicilio</label>
                        {{form.domicilio }}   
                
                    </div>
                </div>
                <div class="flex">

                    <div class="form-group">
                        <label for="id_telefono">Telefono</label>
                        {{form.telefono }}   
                
                    </div><div class="form-group">
                        <label for="id_correo">Correo</label>
                        {{form.correo }} 
                    </div>
                </div>
                <div class="flex">
                    <div class="form-group">
                        <label for="id_sitio_web">Sitio Web</label>
                        {{form.sitio_web }} 
                    </div>
                    <div class="form-group">
                        <label for="id_estado">Estado</label>
                        {{form.estado}} 
                    </div>
                    <div class="form-group">
                        <label for="id_fecha_registro">Fecha de alta</label>
                        {{form.fecha_registro }} 
                    </div>
                </div>
                <div class="flex">
                    <div class="form-group">
                        <label for="id_descripcion">Descripcion</label>
                        {{form.descripcion }} 
                    </div>
                    <div class="form-group">
                        <label for="id_categoria">Categoria</label>
                        {{form.categoria }}  
                    </div>                
                </div>
                <button type="submit">Guardar Proveedor</button>
                <a href="{% url 'proveedor_list' %}" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>
    {% endblock %}
