{% extends 'base.html' %}

{% block content %}

<div class="container">
        <div class="">
          <div class="d-flex-sp">
            <h1>Lista de Sucursales</h1>
                <a href="{% url 'sucursal_create' %}" class="btn btn-outline-primary">Agregar Sucursal</a>
            </div>
            <table id="example" class="display" style="width:100%">  
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Estado</th>
                        <th>Localidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sucursal in sucursales %}
                    <tr>
                        <td>{{sucursal.id}}</td>
                        <td>{{sucursal.nombre}}</td>
                        <td>{{sucursal.descripcion}}</td>
                        <td>{{sucursal.estado}}</td>
                        <td>{{sucursal.localidad}}</td>
                        <td><a href="{% url 'sucursal_update' sucursal.pk %}" ><i class="bi bi-pencil-square"></i></a>
                          <a href="{% url 'sucursal_detail' sucursal.pk %}"><i class="bi bi-eye"></i></a>
                          <a href="{% url 'productos_por_sucursal' sucursal.pk %}"><i class="bi bi-card-list"></i></a></td>
                    </tr>
                    {% empty %}
                <p>No hay sucursales disponibles.</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>


{% endblock %}