{% extends 'base.html' %}
{% block extra_head %}
<style>
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
}

/* Product Detail Section */
.product-detail {
    text-align: center;
}

/* Product Title */
.product-detail h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
}

/* Product Description */
.product-detail p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Price Styling */
.product-detail .price {
    font-size: 20px;
    color: #d9534f; /* Bootstrap danger color for emphasis */
    font-weight: bold;
    margin-bottom: 15px;
}

/* Category and Status Styling */
.product-detail .category, .product-detail .status {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

/* Actions Section */
.actions {
    margin-top: 20px;
}

/* Action Buttons */
.actions a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

/* Edit Button */
.actions a:first-child {
    background-color: #5bc0de; /* Bootstrap info color */
    color: #fff;
}

.actions a:first-child:hover {
    background-color: #31b0d5;
}

/* Back Link Button */
.actions a.back-link {
    background-color: #f0ad4e; /* Bootstrap warning color */
    color: #fff;
}

.actions a.back-link:hover {
    background-color: #ec971f;
}

    </style>
{% endblock %}

{% block content %}    
    <!-- Aquí se insertará el contenido específico de cada página -->
    <div class="container">
        <div class="product-detail">
            <h1>Deposito: {{ deposito.nombre }}</h1>
            <p class="category">Direccion: {{ deposito.direccion }}</p>
            <p class="category">Telefono: {{ deposito.telefono }}</p>
            <p class="category">Correo Electronico: {{ deposito.email }}</p>
            <p class="status">Estado: {{ deposito.estado }}</p>
            <p class="status">Capacidad Maxima: {{ deposito.capacidad_maxima }}</p>

            <p class="status">Sucursal: {{ deposito.sucursal }}</p>

            <div class="actions">
                <a href="{% url 'deposito_update' deposito.pk %}">Editar</a>
                <a href="{% url 'depositos_list' %}" class="back-link">Volver a la lista</a>
            </div>
        </div>
    </div>
    
</body>

{% endblock %}

