{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="d-flex-sp">
            <h1>Lista de Depositos</h1>
            <a href="{% url 'deposito_create' %}" class=" btn btn-outline-primary">Agregar Deposito</a>
        </div>
        <div class="">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Sucursal</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>telefono</th>
                        <th>email</th>
                        <th>Estado</th>
                        <th>Cap_max</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deposito in depositos %}
                    <tr>
                        <td>{{deposito.sucursal}}</td>
                        <td>{{deposito.nombre}}</td>
                        <td>{{deposito.direccion}}</td>
                        <td>{{deposito.telefono}}</td>
                        <td>{{deposito.email}}</td>
                        <td>{{deposito.estado}}</td>
                        <td>{{deposito.capacidad_maxima}}</td>
                        <td><a href="{% url 'deposito_update' deposito.pk %}"><i class="bi bi-pencil-square"></i></a>
                          <a href="{% url 'deposito_detail' deposito.pk %}"><i class="bi bi-eye"></i></a>
                          <a href="{% url 'productos_por_deposito' deposito.pk  %}"><i class="bi bi-card-list"></i></a></td>
                    </tr>
                    {% empty %}
                <p>No hay depositos disponibles.</p>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Sucursal</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>telefono</th>
                        <th>email</th>
                        <th>Estado</th>
                        <th>Cap_max</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>
{% endblock %}