{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div class="container">
        <div class="d-flex-sp">
            <h1>Historial de Precios de {{ producto }}</h1>
        </div>
        <div class="">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Precio</th>
                        <th>Fecha Modificación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for relacion in precios_producto %}
                        <tr>
                            <td>{{ relacion.id }}</td>
                            <td>{{ relacion.precio_anterior|floatformat:2|intcomma }}</td>
                            <td>{{ relacion.fecha_modificacion|date:"d-m-Y" }}</td>
                        </tr>
                    {% empty %}
                        <li>No hay cargados a este Producto.</li>
                    {% endfor %}
                    
                </tbody>
                </tfoot>
            </table>
        </div>
        <a href="{% url 'precios_list' %}" class="btn btn-danger">Volver</a>
    </div>
{% endblock %}