<header class="header">
    <div class="menu-icon" onclick="openSidebar()">
        <span class="material-icons-outlined">menu</span>
    </div>
    <div></div>
    <div class="header-right">
        <span class="material-icons-outlined">notifications</span>
        <span class="material-icons-outlined">email</span>
        <span class="material-icons-outlined">account_circle</span>
    </div>
</header>
<aside id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-brand">
            <span class="material-icons-outlined"></span> BlueDragon Administración
        </div>
        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a href="{% url 'tienda' %}">
                <span class="material-icons-outlined">dashboard</span> Panel
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="{% url 'admin_prods' %}">
                <span class="material-icons-outlined">inventory_2</span> Productos
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="{% url 'admin_consultas' %}">
                <span class="material-icons-outlined">email</span> Consultas
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="{% url 'admin_list_ventas' %}">
                <span class="material-icons-outlined">fact_check</span> Ventas
            </a>
        </li>
        <li class="sidebar-list-item"></li>
        <a class="btn_salir" href="{% url 'logout_tienda' %}">
            Logout
        </a>
        </li>
    </ul>
</aside>