{% extends 'ecommerce/home.html' %}
{% block content %}
<div class="espacioenblanco"></div>
<main id="gridAreas">
    <section class="titulo">
        {% if cat %}
        <h1 class="tituloprod">{{cat.nombre}}</h1>
        {% else %}
        <h1 class="tituloprod">Todos los productos disponibles</h1>
        {% endif %}
    </section>
    <section id="filtros" class="colum-filtros">
        <article id="bicicletas" class="grid">
            <div>
                <h2 class="titulofiltros">CATEGORIAS</h2>
            </div>
            {% for cat in categorias %}
            <div class="filtroFlex categoria">
                <a href="{% url 'productos' %}?category={{cat.nombre}}">{{cat.nombre}}</a>
            </div>
            {% endfor %}

        </article>
    </section>
    <section id="productos">
        <div class="prodFlex carou" id="listado">
            {% for prod in productos %}
            <div class="product-card">
                <div class="product-image">
                    <div id="carousel-{{ prod.id }}" class="carousel">
                        {% if prod.media.all %}
                        {% for image in prod.media.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.content.url }}" alt="{{ prod.nombreProducto }}" class="img-prod">
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="carousel-item active">
                            <img src="https://via.placeholder.com/800x400?text=Sin+imagen+disponible"
                                alt="Sin imagen disponible" class="img-prod">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="product-details">
                    <h6 class="product-title">{{ prod.nombre|slice:"30" }}</h6>
                    <p class="product-price">${{ prod.precio_actual }}</p>
                    <p class="product-stock">Stock Disponible: {{ prod.total_stock }}</p>
                    <button onclick="addToCart({{ prod.id }}, 1, {{ prod.precio_actual }})"
                        class="add-to-cart-btn">Comprar</button>
                </div>
            </div>

            {% empty %}
            <p>No hay productos disponibles.</p>
            {% endfor %}

        </div>

    </section>
</main>
<div>
    <a href="https://api.whatsapp.com/send?phone=543874756154"><img
            src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt=""
            class="rounded-circle wapp-fixed wapp"></a>
</div>
{% endblock %}