{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="d-flex-sp">
            <h1>Lista de Productos</h1>
            <a href="{% url 'producto_create' %}" class=" btn btn-outline-primary">Agregar Producto</a>
        </div>
        <div class="">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Descripcion</th>
                        <th>Estado</th>
                        <th>Iconos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{producto.id}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.categoria.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.estado}}</td>
                        <td><a href="{% url 'producto_update' producto.pk %}"><i class="bi bi-pencil-square"></i></a>
                          <a href="{% url 'producto_detail' producto.pk %}"><i class="bi bi-eye"></i></a>
                          <a href="{% url 'producto_delete' producto.pk %}"><i class="bi bi-trash"></i></a></td>
                    </tr>
                    {% empty %}
                <p>No hay productos disponibles.</p>
                {% endfor %}
                </tbody>
                
            </table>
        </div>
        
    </div>

{% endblock %}